@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <body style="background-color:DodgerBlue;">

        

        <form method="post">
            <h1 class="display-4"><b>RL STATS</b></h1>
            <p></p>
            <br><label for="lname"><b>Email:</b></label>
            <input type="email" name="emailaddress">
            <br><label for="fname"><b>Username:</b></label>
            <input type="text" name="uname">
            <br><label for="lname"><b>Password:</b></label>
            <input type="text" name="pword">
            <br><input type="submit">
            <br />
            <p><b>Skip sign in and just see your MMR?</b></p>
            <button type="button">Skip</button>
        </form>
        
    </body>
</div>

